<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!-- importar documentos HTML dentro de otros documentos HTML. novedad html5 evita el javascript-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">


<!-- estos componentes se cargaran bajo demanda segun se llamen mas abajo -->
<link rel="lazy-import" href="my-login.html">
<link rel="lazy-import" href="my-nuevousu.html">
<link rel="lazy-import" href="my-verpost.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="my-nuevopost.html">
<link rel="lazy-import" href="my-misposts.html">
<link rel="lazy-import" href="my-modifpost.html">

<!-- shadow donde tengo la chicha que se importa -->
<dom-module id="my-app">
  <template>
    <style>

    @font-face {
        font-family: letracomic;
        src: url('/fonts/KOMIKAH_.ttf');
    }

      :host {
        /*colores primarios y secundarios principales del dom*/
        --app-primary-color: #3ABE72;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
        background-color: #FFEFD5;
      }



      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
        font-family: letracomic;

      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }


      .drawer-list {
        margin: 0 20px;

      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;

      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      .logo {
        style="margin: 0px 20px"
      }

    </style>

<!-- is an element that enables declarative, self-describing routing for a web app. -->
    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPattern]]:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>


    <app-drawer-layout fullbleed>
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" >
        <p align="center"> <img align=center src="/images/bestblog.png" border=0></p>

        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="principal" href="[[rootPath]]">Página principal</a>
          <br>
          <a name="login" href="login">Inicio sesión</a>
          <a name="nuevousu" href="nuevousu">Crear usuario</a>
          <a name="nuevopost" href="nuevopost">Crear nuevo post</a>
          <a name="misposts" href="misposts">Gestionar mis post</a>
        </iron-selector>
        <br>
        <a id="logo" href="http://www.dccomics.com"  target="_blank">
        <img border="0" alt="W3Schools" src="/images/dc.png" width="50" height="50" style="margin: 0px 13px">
        </a>
        <a href="http://www.marvel.com" target="_blank">
        <img border="0" alt="W3Schools" src="/images/marvel.png" width="50" height="50" style="margin: 0px 13px">
        </a>
        <a href="http://imagecomics.com/" target="_blank">
        <img border="0" alt="W3Schools" src="/images/image.png" width="50" height="50" style="margin: 0px 13px">
        </a>


      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>
      <!-- <app-header-layout has-scrolling-region> -->

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Mi Blog de Comics</div>
            <span id="usudiv">Usuario:</span>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-login name="login"></my-login>
          <my-nuevousu name="nuevousu"></my-nuevousu>
          <my-verpost name="verpost" idcamv="{{_getidcam(page)}}"></my-verpost>
          <my-view404 name="view404"></my-view404>
          <my-nuevopost name="nuevopost"></my-nuevopost>
          <my-misposts name="misposts" idcam="{{_getidcam(page)}}"></my-misposts>
          <my-modifpost name="modifpost" idcam="{{_getidcam(page)}}"></my-modifpost>
          <my-principal name="principal" idcam="{{_getidcam(page)}}"></my-principal>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>

    class MyApp extends Polymer.Element {

      static get is() { return 'my-app'; }

      static get properties() {

        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          idsel: String,
          idcam:String,
          rootPattern: String,
          routeData: Object,
          subroute: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _getidcam() {
          return this.page;
      }


      ready() {
          super.ready();
          var usu = sessionStorage.getItem('usuario');
          console.log("ee " + usu);
          this.$.usudiv.textContent = "Usuario: " + usu;
      }

      constructor() {
        super();

        // Get root pattern for app-route, for more info about `rootPath` see:
        // https://www.polymer-project.org/2.0/docs/upgrade#urls-in-templates
        this.rootPattern = (new URL(this.rootPath)).pathname;

      }

      _routePageChanged(page) {
        // Polymer 2.0 will call with `undefined` on initialization.
        // Ignore until we are properly called with a string.

        if (page === undefined) {
          return;
        }

        // If no page was found in the route data, page will be an empty string.
        // Deault to 'view1' in that case.
        this.page = page || 'principal';


        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page,idsel) {

        var usu = sessionStorage.getItem('usuario');
        console.log("pag " + usu);


        this.$.usudiv.textContent = "Usuario: " + usu;
        idsel = sessionStorage.getItem('idselecionado');


        if (usu == "invitado" & page == "nuevopost")
        {
          page = "principal"
          window.alert("Debe logarse para crear un nuevo post");
          this.page=page
        }

        if (usu == "invitado" & page == "misposts")
        {
          page = "principal"
          window.alert("Debe logarse para consultar sus posts");
          this.page=page
        }

        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');

        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          false);


      }

      _showPage404() {
        this.page = 'view404';
      }



      _getid() {
        idsel = sessionStorage.getItem('idselecionado');
        console.log("selec " + idsel);
        return idsel
      }

    }

    window.customElements.define(MyApp.is, MyApp);

  </script>
</dom-module>
