<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-login">
  <template>

    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .form-signin-heading {
        text-align: center;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPattern]]:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <div class="card1">

  		<div name="Login_Form" class="form-signi">

    		    <h3 class="form-signin-heading">Introduzca su usuario y clave de acceso</h3>
    			  <hr class="colorgraph"><br>

    			  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Username" />
    			  <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>

    			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit" on-click="hacerLogin1">Login</button>
            <br><br>
            <span id="mensaje"></span>
      </div>

    </div>

  </template>
   <script>

   const URL1 = "http://postgrebc9688.cloudapp.net:3000/api/login";

   class MyLogin extends Polymer.Element {
     static get is() { return 'my-login'; }

     hacerLogin1()
     {
         var nom=this.$.nombre.value;
         var pas=this.$.password.value;
         console.log(nom);
         console.log(pas);
         var peticion = new XMLHttpRequest();
         peticion.open("POST", URL1, false);
         peticion.setRequestHeader("Content-Type", "application/json");
         peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
         peticion.send('{"nombre":"' + nom + '", "password": "' + pas + '"}');
         //var spanMensaje = document.getElementById("mensaje");
         var spanMensaje=this.$.mensaje;
         var respuesta = JSON.parse(peticion.responseText);
         if (peticion.status=="200" && respuesta.data.count > 0)
         {
            //  spanMensaje.innerText = "Login correcto";
             sessionStorage.setItem("usuario", nom);
             this.$.nombre.value="";
             this.$.password.value="";
             spanMensaje.innerText ="";
             this.set('route.path', '/');
         }
         else
         {
             spanMensaje.innerText = "Login incorrecto";

         }
     }
   }

   window.customElements.define(MyLogin.is, MyLogin);


    </script>
</dom-module>
