<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-nuevopost">
  <template>
    <style include="shared-styles">
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPattern]]:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <div class="card">
      <div>
        <h3>Nuevos Posts</h3>
        <div class="group">
          <label>Título</label>
          <input type="text" value="{{titulo::input}}" >
        </div>
        <div class="group">
          <label>Texto</label>
          <textarea rows="20" cols="100" value="{{texto::input}}" ></textarea>
        </div>
        <div class="group">
          <label>Imagen de Cabecera</label>
          <input type="text" value="{{imcab::input}}" >
        </div>
        <div><button type="button" name="button" on-click="savePost">Guardar Post</button></div>
        <div><button type="button" name="button1" on-click="refresca">Refrescar</button></div>
      </div>
    </div>
  </template>
  <script>

    const URL_BASEn = "https://api.mlab.com/api/1/databases/mongofer/collections/posts";
    const TOKENn = "?apiKey=1rveomyfTcuS833z0w_XJIHcGLHkAoLY";
  //  const BARRA = "/";

    Polymer({
      is: 'my-nuevopost',
      properties: {
        posts: {
          type: Array,
          notify: true
        },
        titulo: String,
        texto: String,
        disable: {
            type: Boolean,
            value: true
        }
      },
      listeners: {
      },

      savePost: function () {
         var usu = sessionStorage.getItem('usuario');
         var f = new Date();
         var fecha = f.getDate() + "-0" + (f.getMonth() +1) + "-" + f.getFullYear();
         console.log(fecha);
         var request = new XMLHttpRequest();
         request.open("POST", URL_BASEn+TOKENn, false);
         request.setRequestHeader("Content-Type", "application/json");
         var agrabar = JSON.stringify({"titulo": this.titulo, "texto": this.texto,
         "imcab": this.imcab, "usuario": usu, "fecha": fecha});
         request.send(agrabar);
         window.alert("Post insertado con éxito");
         this.titulo="";
         this.texto="";
         this.imcab="";
         this.set('route.path', '/');
      },

      refresca: function () {
          this.titulo="";
          this.texto="";
          this.imcab="";

      },

    });

    window.onload = function () {
      console.log("nuevopost"); // undefined
    };
  </script>
</dom-module>
