<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-principal">
  <template>

    <style include="shared-styles">
      :host {
        display: inline-flex;
        padding: 10px;

      }

      #cab {
        font-weight: bold;
        font-size: 125%;
        color: black;

      }
      #titulo {
        font-weight: bold;
        height: 100px;
        width: 250px;
        padding: 10px;


      }
      #texto {
        font-weight: normal;
        height: 100px;
        width: 400px;
        padding: 10px;
        font-family: Arial;

      }
      #usuario {
        font-weight: normal;
        padding: 10px;
        font-family: Arial;
      }
      #fecha {
        font-weight: normal;
        padding: 20px;
        font-family: Arial;
      }

      #boton {
      border: 1px solid #2e518b; /*anchura, estilo y color borde*/
      padding: 10px; /*espacio alrededor texto*/
      background-color: #2e518b; /*color botón*/
      color: #ffffff; /*color texto*/
      text-decoration: none; /*decoración texto*/
      text-transform: uppercase; /*capitalización texto*/
      font-family: 'Helvetica', sans-serif; /*tipografía texto*/
      border-radius: 50px; /*bordes redondos*/
      }


    </style>

    <div class="card">

      <div class="cc">
        <table>
          <thead id="cab">
            <tr>
              <th>Título</th>
              <th>Texto</th>
              <th>Autor</th>
              <th>Fecha</th>
              <th><img src="/images/refres.png" width="20" height="20" on-click="refresca"></th>
            </tr>
          </thead>
          <tbody id="tablePost">
              <template is="dom-repeat" items="{{posts}}">
                <tr>
                  <th id="titulo">[[item.titulo]]</th>
                  <th id="texto">[[item.texto]]</th>
                  <th id="usuario">[[item.usuario]]</th>
                  <th id="fecha">[[item.fecha]]</th>
                  <th><a id="boton" href="verpost/{{item._id.$oid}}" target="_self" on-click="guardaId">Leer</a></th>
                </tr>
              </template>
          </tbody>
        </table>

      </div>

    </div>

    <div class="cardlat">

        <a href="[[rootPath]]" on-click="ordenarfec">Fecha ascendente</a>
        <br>
        <a href="[[rootPath]]" on-click="refresca">Fecha descendente</a>
        <br><br>
        <p>Buscar texto</p>
        <input type="text" name="bustex"  size="15" value="{{texbus::input}}" />
        <img src="/images/ok.png" width="15" height="15" style="margin: 0px 2px" on-click="buscatex">
        <p>Buscar fecha</p>
        <input type="text" name="busfec" size="15" placeholder="DD-MM-AAAA" value="{{fecbus::input}}"/>
        <img src="/images/ok.png" width="15" height="15" style="margin: 0px 2px" on-click="buscafec">
        <p></p>
        <br>
        <p></p>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fblogdecomics&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        width="230" height="300" style="border:none;overflow:hidden" scrolling="no"
        frameborder="0" allowTransparency="true"></iframe>
    </div>

  </template>
  <script>

  const URL_BASE1 = "https://api.mlab.com/api/1/databases/mongofer/collections/posts";
  const TOKEN1 = "?apiKey=1rveomyfTcuS833z0w_XJIHcGLHkAoLY";
  const URL_BASEB = "https://api.mlab.com/api/1/databases/mongofer/collections/posts?";
  const TOKENB = "apiKey=1rveomyfTcuS833z0w_XJIHcGLHkAoLY";
  //  const BARRA = "/";

  Polymer({
    is: 'my-principal',



    ready: function(e) {
      var request = new XMLHttpRequest();

      request.open("GET", URL_BASE1+TOKEN1, false);
      request.setRequestHeader("Content-Type", "application/json");
      request.send();
      this.posts=JSON.parse(request.responseText);
      this.disable=false;
      for (var i = 0; i < this.posts.length; i++) {
          if (this.posts[i].texto) {
        this.posts[i].texto = this.posts[i].texto.substring(0,130) + "..."
      }};

      this.posts = this.posts.sort(function (a, b){
                      if ( a.fecha < b.fecha )
                           return 1;
                      if ( a.fecha > b.fecha )
                          return -1;
                      return 0;
                    })


    },


    properties: {
      posts: {
        type: Array,
        notify: true
      },
      titulo: String,
      texto: String,
      disable: {
          type: Boolean,
          value: true
      },
      idcam: {
        type: String,
        observer: '__recipeChanged'

      }
    },
    listeners: {

    },

    __recipeChanged: function(idcam) {
         if (idcam) {
           idcam="ok"
           var request = new XMLHttpRequest();
           request.open("GET", URL_BASE1+TOKEN1, false);
           request.setRequestHeader("Content-Type", "application/json");
           request.send();
           this.posts=JSON.parse(request.responseText);
           this.disable=false;
           for (var i = 0; i < this.posts.length; i++) {
             if (this.posts[i].texto) {
             this.posts[i].texto = this.posts[i].texto.substring(0,130) + "..."
           }};
           this.posts = this.posts.sort(function (a, b){
     	                    if ( a.fecha < b.fecha )
       	                       return 1;
                           if ( a.fecha > b.fecha )
                               return -1;
                           return 0;
                         })
             this.texbus="";
         }
       },

    guardaId: function(e) {

      var model = e.model;
      var idm = model.item._id.$oid;
      sessionStorage.setItem("idselecionado", idm );



    },

    refresca: function() {

        var request = new XMLHttpRequest();
        request.open("GET", URL_BASE1+TOKEN1, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        this.posts=JSON.parse(request.responseText);
        this.disable=false;
        for (var i = 0; i < this.posts.length; i++) {
          if (this.posts[i].texto) {
          this.posts[i].texto = this.posts[i].texto.substring(0,130) + "..."
        }};
        this.posts = this.posts.sort(function (a, b){
  	                    if ( a.fecha < b.fecha )
    	                       return 1;
                        if ( a.fecha > b.fecha )
                            return -1;
                        return 0;
                      })
          this.texbus="";
    },

    buscatex: function(e) {
      var texbus = this.texbus;
      var request = new XMLHttpRequest();
      var busca='q={"texto": {"$regex": ".*' + texbus + '.*","$options": "i"}}&'
      request.open("GET", URL_BASEB+busca+TOKENB, false);
      request.setRequestHeader("Content-Type", "application/json");
      request.send();
      var posant=this.posts;
      this.posts=JSON.parse(request.responseText);
      this.disable=false;

      if (this.posts.length!=0) {
        for (var i = 0; i < this.posts.length; i++) {
            if (this.posts[i].texto) {
              this.posts[i].texto = this.posts[i].texto.substring(0,130) + "..."
            }};
            this.posts = this.posts.sort(function (a, b){
                        if ( a.fecha < b.fecha )
                            return 1;
                            if ( a.fecha > b.fecha )
                            return -1;
                            return 0;
                          })
      } else {
        window.alert("No existen Posts con ese texto");
        this.posts=posant
      }

    },

    buscafec: function(e) {
      var texbus = this.fecbus;
      var request = new XMLHttpRequest();
      var busca='q={"fecha": {"$regex": ".*' + texbus + '.*","$options": "i"}}&'
      request.open("GET", URL_BASEB+busca+TOKENB, false);
      request.setRequestHeader("Content-Type", "application/json");
      request.send();
      var posant=this.posts;
      this.posts=JSON.parse(request.responseText);
      this.disable=false;

      if (this.posts.length!=0) {
        for (var i = 0; i < this.posts.length; i++) {
            if (this.posts[i].texto) {
              this.posts[i].texto = this.posts[i].texto.substring(0,130) + "..."
            }};
            this.posts = this.posts.sort(function (a, b){
                        if ( a.fecha < b.fecha )
                            return 1;
                            if ( a.fecha > b.fecha )
                            return -1;
                            return 0;
                          })
      } else {
        window.alert("No existen Posts con esa fecha");
        this.posts=posant
      }

    },

    ordenarfec: function() {

        var request = new XMLHttpRequest();
        request.open("GET", URL_BASE1+TOKEN1, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        this.posts=JSON.parse(request.responseText);
        this.disable=false;
        for (var i = 0; i < this.posts.length; i++) {
          if (this.posts[i].texto) {
          this.posts[i].texto = this.posts[i].texto.substring(0,130) + "..."
        }};
        this.posts = this.posts.sort(function (a, b){
  	                    if ( a.fecha < b.fecha )
    	                       return -1;
                        if ( a.fecha > b.fecha )
                            return 1;
                        return 0;
                      })
    }

  });



  </script>
</dom-module>
