<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-verpost">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      #autor {
        font-family: Arial;
      }
      #texto {
        font-family: Arial;
      }
      #volver {
        text-align: right;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPattern]]:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <div class="card" >
      <h1 id="titulo"></h1>
      <p id="autor"></p>
      <p id="imcab"></p>
      <p id="texto"></p>
      <p id="volver"><a href="[[rootPath]]">Página principal</a></p>
    </div>

  </template>

  <script>

  const URL_BASE2 = "https://api.mlab.com/api/1/databases/mongofer/collections/posts";
  const TOKEN2 = "?apiKey=1rveomyfTcuS833z0w_XJIHcGLHkAoLY";

  class MyVerpost extends Polymer.Element {

      static get is() { return 'my-verpost'; }

      static get properties() {
        return {

          idcamv: {
            type: String,
            observer: '__recipeChangedv'
          }
        };
      }

      ready() {
          super.ready();
          var idsel = sessionStorage.getItem('idselecionado');
          console.log("sal1 " + idsel);
          var request = new XMLHttpRequest();
          request.open("GET", URL_BASE2+'/'+idsel+TOKEN2, false);
          request.setRequestHeader("Content-Type", "application/json");
          request.send();
          var tex = request.responseText;
          tex=tex.replace(/\\n/g,"<br></br>");
          this.posts=JSON.parse(tex);
          console.log(this.posts);
          this.disable=false;
          this.$.titulo.textContent = this.posts.titulo;
          this.$.autor.innerHTML = this.posts.usuario + "  " + this.posts.fecha;
          this.$.imcab.innerHTML = "<img src='/images/" + this.posts.imcab + "' />"
          this.$.texto.innerHTML = this.posts.texto;
      }

      __recipeChangedv(idcamv) {
           if (idcamv) {
             idcamv="ok"
             var idsel = sessionStorage.getItem('idselecionado');
             console.log("sal2 " + idsel);
             var request = new XMLHttpRequest();
             request.open("GET", URL_BASE2+'/'+idsel+TOKEN2, false);
             request.setRequestHeader("Content-Type", "application/json");
             request.send();
             var tex = request.responseText;
             tex=tex.replace(/\\n/g,"<br></br>");
             this.posts=JSON.parse(tex);
             console.log(this.posts);
             this.disable=false;
             this.$.titulo.textContent = this.posts.titulo;
             this.$.autor.innerHTML = this.posts.usuario + "  " + this.posts.fecha;
             this.$.imcab.innerHTML = "<img src='/images/" + this.posts.imcab + "' />"
             this.$.texto.innerHTML = this.posts.texto;
           }
         }

      reload() {

        var idsel = sessionStorage.getItem('idselecionado');
        console.log("sal " + idsel);
        var request = new XMLHttpRequest();
        request.open("GET", URL_BASE2+'/'+idsel+TOKEN2, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        var tex = request.responseText;
        tex=tex.replace(/\\n/g,"<br></br>");
        this.posts=JSON.parse(tex);
        console.log(this.posts);
        this.disable=false;
        this.$.titulo.textContent = this.posts.titulo;
        this.$.autor.innerHTML = this.posts.usuario + "  " + this.posts.fecha;
        this.$.imcab.innerHTML = "<img src='/images/" + this.posts.imcab + "' />"
        this.$.texto.innerHTML = this.posts.texto;
      }

    };


    window.customElements.define(MyVerpost.is, MyVerpost);

  </script>
</dom-module>
